<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Zolat\FastCategoryPages\Model\Cache\ProductKeyInterface" type="Zolat\FastCategoryPages\Model\Cache\BasicProductKey" />
    <preference for="Zolat\FastCategoryPages\Model\Cache\MultiLoadCacheInterface" type="Zolat\FastCategoryPages\Model\Cache\MultiLoadRedisCache" />
</config>
